:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 28, 28, 30;
  --background-end-rgb: 44, 44, 46;

  --link-rgb: 133, 133, 133;
  --article-date-rgb: 117, 135, 149;

  --audio-background-rgb: 25, 25, 27;
  --audio-foreground-rgb: 242, 242, 247;
  --audio-border-rgb: 72, 72, 74;
  --audio-played-rgb: 36, 138, 61;
  --audio-error-rgb: 255, 214, 10;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 235, 235, 235;
    --background-end-rgb: 255, 255, 255;

    --link-rgb: 105, 105, 105;
    --article-date-rgb: 93, 108, 121;

    --audio-background-rgb: 229, 229, 234;
    --audio-foreground-rgb: 25, 25, 27;
    --audio-border-rgb: 199, 199, 204;
    --audio-played-rgb: 36, 138, 61;
    --audio-error-rgb: 160, 90, 0;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: rgb(var(--link-rgb));
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.no-decoration {
  text-decoration: none !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
